body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	background-image: linear-gradient(120deg, #d46bdf 0%, #a9dcff 100%);
	color: #333333;
}
